* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: rgb(254, 253, 239);
}

.container {
    background: white;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 90%;
    box-shadow: 2px 3px 3px 2px rgba(128, 128, 128, 0.523);
    padding: 10px;
    border-radius: 10px;
}

.container input {
    position: relative;
    top: 10%;
    border: 1px solid grey;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translateY(-50%);
    cursor: pointer;
}

.container h1 {
    font-family: 'Black Ops One', cursive;
    font-family: 'Kanit', sans-serif;
}

.index-intro {
    position: relative;
    height: 50vh;
}

.index-intro h2 {
    position: inherit;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.image-container {
    position: relative;
    max-width: 100%;
    /* Maximum width */
    max-height: 100%;
    /* Maximum height */
    overflow: hidden;
    /* Hide overflow */
    padding: 5px;
}

.image-container img {
    width: 100%;
    /* Take up full width of container */
    height: auto;
    /* Automatically adjust height while maintaining aspect ratio */
}

footer {
    position: relative;
    top: 5pc;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}