* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: rgb(254, 253, 239);
}

.container {
    background: white;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 90%;
    box-shadow: 2px 3px 3px 2px rgba(128, 128, 128, 0.523);
    padding: 10px;
    border-radius: 10px;
}

.container input {
    position: relative;
    top: 10%;
    border: 1px solid grey;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translateY(-50%);
    cursor: pointer;
}

.container h1 {
    font-family: 'Black Ops One', cursive;
    font-family: 'Kanit', sans-serif;
}

.index-intro {
    position: relative;
    height: 50vh;
}

.index-intro h2 {
    position: inherit;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.image-container {
    position: relative;
    max-width: 100%;
    /* Maximum width */
    max-height: 100%;
    /* Maximum height */
    overflow: hidden;
    /* Hide overflow */
    padding: 5px;
}

.image-container img {
    width: 100%;
    height: auto;
}

footer {
    position: relative;
    top: 5pc;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}


/*About us Page--- */

.about-section {
    position: relative;
    padding: 10px;
    width: 100%;
    background: #fff;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 30px;
    border-left: 30px solid #3c89ed;
    border-right: 30px solid #3c89ed;
}

img {
    text-align: center;
    margin: auto;
    justify-content: center;
}

.inner-width {
    max-width: 1000px;
    overflow: hidden;
    padding: 0 20px;
    margin: auto;
}

.about-section h1 {
    text-align: center;
}

.border {
    width: 100px;
    height: 3px;
    background: #3c89ed;
    margin: 40px auto;
}

.about-section-row {
    display: flex;
    flex-wrap: wrap;
}

.about-section-col {
    flex: 50%;
}

.about {
    padding-right: 30px;
}

.about p {
    text-align: justify;
    margin-bottom: 20px;
    color: #7E7C7A;
    font-size: 17px;
}

.about a {
    display: inline-block;
    color: #7E7C7A;
    text-decoration: none;
    border: 2px solid #3c89ed;
    border-radius: 24px;
    padding: 8px 40px;
    transition: 0.4s linear;
}

.about a:hover {
    color: #fff;
    background: #3c89ed;
}

.skills {
    padding-left: 30px;
}

.skill {
    margin-bottom: 10px;
}

.title {
    color: #7E7C7A
}

.progress {
    width: 100%;
    height: 12px;
    background: #ddd;
    border-radius: 12px;
}

.progress-bar {
    height: 12px;
    background: #3c89ed;
    border-radius: 12px;
}

.p1 {
    width: 90%;
}

.p2 {
    width: 70%;
}

.p3 {
    width: 50%;
}

.progress-bar span {
    float: right;
    margin-right: 6px;
    line-height: 13px;
    color: #fff;
    font-size: 12px;
}

.article-container {
    border: 1 px solid grey;
}

@media screen and (max-width:700px) {
    .about-section-col {
        flex: 100%;
        margin: 10px 0;
    }
    .about,
    .skills {
        padding: 0;
    }
    .about {
        text-align: center;
    }
}


/* End About us Page--- */

#inputMessage {
    height: 100px;
    padding: 5px;
}

@media (min-width: 900px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    .index-intro {
        position: relative;
        top: 10%;
        height: 100vh;
        width: 100%;
    }
    .image-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 5px;
    }
    .image-container img {
        width: 100px;
    }
}